*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    background-color: white;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgray;
}

.calculator{
    box-shadow: 6px 6px 13px #fff,
                6px 6px 13px rgba(0,0,0,.16);
}